<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.globomantics.test.testcases.HomePageTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>HomePageTitle</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GlobomanticsEmailIcon</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GlobomanticsHomePageImage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GlobomanticsLogo</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GlobomanticsEnterDetails</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>openBrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>quitBrowser</td>
<td>&nbsp;</td></tr>
</table>
