<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="78f375">  <td>20/06/08 15:59:34</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.GlobomanticsEmailIcon()[pri:0, instance:com.globomantics.test.testcases.HomePageTest@57536d79]">GlobomanticsEmailIcon</td> 
  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="78f375">  <td>20/06/08 15:59:34</td>   <td>4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.GlobomanticsEnterDetails()[pri:0, instance:com.globomantics.test.testcases.HomePageTest@57536d79]">GlobomanticsEnterDetails</td> 
  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="78f375">  <td>20/06/08 15:59:34</td>   <td>2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.GlobomanticsHomePageImage()[pri:0, instance:com.globomantics.test.testcases.HomePageTest@57536d79]">GlobomanticsHomePageImage</td> 
  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="78f375">  <td>20/06/08 15:59:34</td>   <td>-2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.GlobomanticsLogo()[pri:0, instance:com.globomantics.test.testcases.HomePageTest@57536d79]">GlobomanticsLogo</td> 
  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="78f375">  <td>20/06/08 15:59:34</td>   <td>-7</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.HomePageTitle()[pri:0, instance:com.globomantics.test.testcases.HomePageTest@57536d79]">HomePageTitle</td> 
  <td>main@473581465</td>   <td></td> </tr>
</table>
