<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="89aadb">  <td>20/06/08 21:01:47</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NetherlandPageTest.CompareAddressOfNetherland()[pri:0, instance:com.globomantics.test.testcases.NetherlandPageTest@75c072cb]">CompareAddressOfNetherland</td> 
  <td>pool-1-thread-2@24229671</td>   <td></td> </tr>
<tr bgcolor="a9f8ae">  <td>20/06/08 21:01:47</td>   <td>-317</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SwitzerlandPageTest.CompareAddressOfSwitzerland()[pri:0, instance:com.globomantics.test.testcases.SwitzerlandPageTest@2aece37d]">CompareAddressOfSwitzerland</td> 
  <td>pool-1-thread-3@61730451</td>   <td></td> </tr>
<tr bgcolor="a96097">  <td>20/06/08 21:01:49</td>   <td>1665</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.GlobomanticsEmailIcon()[pri:0, instance:com.globomantics.test.testcases.HomePageTest@548a102f]">GlobomanticsEmailIcon</td> 
  <td>pool-1-thread-1@1489397389</td>   <td></td> </tr>
<tr bgcolor="a96097">  <td>20/06/08 21:01:49</td>   <td>1678</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.GlobomanticsEnterDetails()[pri:0, instance:com.globomantics.test.testcases.HomePageTest@548a102f]">GlobomanticsEnterDetails</td> 
  <td>pool-1-thread-1@1489397389</td>   <td></td> </tr>
<tr bgcolor="a96097">  <td>20/06/08 21:01:49</td>   <td>1668</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.GlobomanticsHomePageImage()[pri:0, instance:com.globomantics.test.testcases.HomePageTest@548a102f]">GlobomanticsHomePageImage</td> 
  <td>pool-1-thread-1@1489397389</td>   <td></td> </tr>
<tr bgcolor="a96097">  <td>20/06/08 21:01:48</td>   <td>742</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.GlobomanticsLogo()[pri:0, instance:com.globomantics.test.testcases.HomePageTest@548a102f]">GlobomanticsLogo</td> 
  <td>pool-1-thread-1@1489397389</td>   <td></td> </tr>
<tr bgcolor="a96097">  <td>20/06/08 21:01:47</td>   <td>73</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.HomePageTitle()[pri:0, instance:com.globomantics.test.testcases.HomePageTest@548a102f]">HomePageTitle</td> 
  <td>pool-1-thread-1@1489397389</td>   <td></td> </tr>
<tr bgcolor="a9f8ae">  <td>20/06/08 21:01:35</td>   <td>-12300</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SwitzerlandPageTest.openBrowser(java.lang.String)[pri:0, instance:com.globomantics.test.testcases.SwitzerlandPageTest@2aece37d]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>pool-1-thread-3@61730451</td>   <td></td> </tr>
<tr bgcolor="a96097">  <td>20/06/08 21:01:35</td>   <td>-12300</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePageTest.openBrowser(java.lang.String)[pri:0, instance:com.globomantics.test.testcases.HomePageTest@548a102f]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>pool-1-thread-1@1489397389</td>   <td></td> </tr>
<tr bgcolor="89aadb">  <td>20/06/08 21:01:35</td>   <td>-12300</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NetherlandPageTest.openBrowser(java.lang.String)[pri:0, instance:com.globomantics.test.testcases.NetherlandPageTest@75c072cb]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>pool-1-thread-2@24229671</td>   <td></td> </tr>
<tr bgcolor="a9f8ae">  <td>20/06/08 21:01:48</td>   <td>1072</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SwitzerlandPageTest.quitBrowser()[pri:0, instance:com.globomantics.test.testcases.SwitzerlandPageTest@2aece37d]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>pool-1-thread-3@61730451</td>   <td></td> </tr>
<tr bgcolor="89aadb">  <td>20/06/08 21:01:49</td>   <td>1670</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NetherlandPageTest.quitBrowser()[pri:0, instance:com.globomantics.test.testcases.NetherlandPageTest@75c072cb]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>pool-1-thread-2@24229671</td>   <td></td> </tr>
<tr bgcolor="a96097">  <td>20/06/08 21:01:49</td>   <td>1681</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePageTest.quitBrowser()[pri:0, instance:com.globomantics.test.testcases.HomePageTest@548a102f]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>pool-1-thread-1@1489397389</td>   <td></td> </tr>
</table>
